@model MediWeb.Models.RegisterViewModel

<h2>Register</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DateOfBirth)
        @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Jmbg)
        @Html.TextBoxFor(m => m.Jmbg, new { @class = "form-control", maxlength = 12 })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gender)
        <div class="form-check">
            @Html.RadioButtonFor(m => m.Gender, "Male", new { @class = "form-check-input" })
            @Html.Label("Male", "Male", new { @class = "form-check-label" })
        </div>
        <div class="form-check">
            @Html.RadioButtonFor(m => m.Gender, "Female", new { @class = "form-check-input" })
            @Html.Label("Female", "Female", new { @class = "form-check-label" })
        </div>
        <div class="form-check">
            @Html.RadioButtonFor(m => m.Gender, "Rather Not Disclose", new { @class = "form-check-input" })
            @Html.Label("Rather Not Disclose", "Rather Not Disclose", new { @class = "form-check-label" })
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Register</button>
}
